<div class="container-fluid card row-sm order-single">
  <fdev-user-single class="user-single"></fdev-user-single>
  <div class="card order-detail">Order detail</div>
</div>
<div class="container-fluid card row-sm order-single">
  <fdev-user-single class="user-single"></fdev-user-single>
  <div class="card order-detail">Order detail</div>
</div>
<div class="container-fluid card row-sm order-single">
  <fdev-user-single class="user-single"></fdev-user-single>
  <div class="card order-detail">Order detail</div>
</div>
