<div class="container-fluid card row-sm order-single">
  <fdev-user-single class="col user-single"></fdev-user-single>
  <div class="card col order-detail">Order detail</div>
</div>
<div class="container-fluid card row-sm order-single">
  <fdev-user-single class="col user-single"></fdev-user-single>
  <div class="card col order-detail">Order detail</div>
</div>
<div class="container-fluid card row-sm order-single">
  <fdev-user-single class="col user-single"></fdev-user-single>
  <div class="card col order-detail">Order detail</div>
</div>
