<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Esercizio Angular</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <link rel="stylesheet" href="./app.component.css" />
</head>
<body>
    <!--Main Navigation-->
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" target="_blank" href="#">Fdev</a>
          <div class="navbar" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" rel="nofollow"
                  target="_blank">Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" target="_blank">Your Orders</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="my-5">
      <div class="container">

        <section class="text-center">
          <h4 class="mb-5"><strong>Welcome</strong></h4>
  
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card">
                <div class="card-body">
                  
                  <div class="card col-6 user-list">
                    <div class="card user-single">1 single</div>
                    <div class="card user-single">2 single</div>
                    <div class="card user-single">3 single</div>
                  </div>

                  <div class="card col-6 user-detail">
                    <div>User Detail</div>
                  </div>

                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="container card order-list">
                    <p>Order List</p>
                    <div class="container-fluid row order-single">
                      <div class="card col-sm">User single</div>
                      <div class="card col-sm">Order detail</div>
                    </div>
                    <div class="container-fluid row order-single">
                      <div class="card col-sm">User single</div>
                      <div class="card col-sm">Order detail</div>
                    </div>
                    <div class="container-fluid row order-single">
                      <div class="card col-sm">User single</div>
                      <div class="card col-sm">Order detail</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
</body>
</html>