section {
  display: block;
}

main {
  display: grid;
  /*overflow: hidden;*/
  background-color: rgb(233, 191, 141);
  padding: 20px;
}

.containers {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
