.user-detail {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 380px;
  width: 230px;
  background-color: rgb(189, 151, 224);
  margin-left: 10px;
}

.gatto {
  width: 40px;
  height: 30px;
}

.card {
  display: flex;
  align-items: center;
}

.card-detail {
  background: transparent;
  width: 15px;
  height: 15px;
}