.order-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  width: 500px;
  height: 480px;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: aquamarine;
  text-align: center;
}